h1 {
    color: #CC1414;
    font-family: 'Rubik Glitch','Dela Gothic One', Verdana;
    font-weight: bold;
    
}
h2,h3 {
    color: #D9D9D9;
    font-family: 'Dela Gothic One',Verdana;
    font-weight: bold;
}
body{
    margin:0;
}
/* Header */
header{
    background-color:#3D3D3D;
    width: 100%;
    position:fixed;
}
/* Nav */
nav{
    display: flex;
}
nav > div{
    width: 33%;
    text-align: center;
    border: 1px outset black;
}
.current-page{
    background-color: #D9D9D9;
}
.current-page > h3{
    color: #3D3D3D;
}